html {
  font-family: "Source Code Pro", "Meiryo UI", "Hiragino Kaku Gothic ProN",
    sans-serif;
  font-size: 1em;
  color: rgb(32, 32, 32);
  background-color: rgb(233, 222, 198);
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 150px 1fr 50px;
  grid-template-columns: 100%;
}

a {
  color: rgb(32, 32, 32) !important;
  text-decoration-line: none !important;
}

a:hover {
  filter: drop-shadow(0px 0px 6px rgb(0, 183, 255));
  text-decoration-line: none !important;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

article {
  padding: 0 0 0 16px;
}

hr.dashed {
  border-top: 2px dashed #e09304;
}

.prettyprint,
.linenums,
.linenums li {
  font-family: "Source Code Pro","Kosugi Maru",sans-serif !important;
  background-color: rgb(48, 48, 48) !important;
  font-size: 0.95em;
}

/* ヘッダー */
header {
  grid-row: 1 / 2;
  color: rgb(240, 240, 240);
  background-color: rgb(64, 64, 64);
  font-family: "Kosugi Maru", "Meiryo UI", "Hiragino Kaku Gothic ProN",
    sans-serif;
}

header .title_main,
header .title {
  margin: 32px 16px 16px 16px;
  font-size: 3em;
}

header .title_main {
    font-family: "Source Code Pro","Kosugi Maru","Meiryo UI", "Hiragino Kaku Gothic ProN",
      sans-serif;
}

header .sub_title {
  margin: 8px 16px 16px 24px;
}

/* ボディ */
body {
  font-family: "Source Code Pro","Kosugi Maru","Meiryo UI","Hiragino Kaku Gothic ProN",sans-serif;
  font-size: 1.1em;
}

/* セクション */
section .content_main {
  grid-row: 2 / 3;
}

.articles,
.post {
  display: grid;
}

.article_list {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;

  margin: auto;
  justify-content: center;
}

.post_ul {
  display: flex;
  width: 95%;
  flex-direction: row;
  flex-wrap: wrap;

  margin: auto;
  justify-content: center;
}

.post_content {
  display: inline-block;
  font-family:'Kosugi Maru','Hiragino Kaku Gothic ProN','Meiryo UI',sans-serif;
  width: 75%;

  margin: auto;
  justify-content: center;

  padding: 16px 0 0 0;
  font-weight: 400;
  line-height: 2.0em;
}

.post_li_mini:hover {
  filter: brightness(0.55) drop-shadow(3px 3px 3px #00000080);
}

.post_li_mini {
  width: 150px;
  height: 150px;
  margin: 18px;
  filter: drop-shadow(3px 3px 3px #00000080);
}

.post_li:hover {
  filter: brightness(0.55) drop-shadow(3px 3px 3px #00000080);
}

.article_li {
  width: 350px;
  height: 700px;
  padding: 0 12px 12px 12px;
  margin: 12px;
  line-height: 2.5em;
  font-weight: bold;
}

.article_li_title {
  font-size: 1.5em;
}

.post_li {
  width: 260px;
  height: 250px;
  margin: 24px;
  filter: drop-shadow(3px 3px 3px #00000080);
}

.post_img_mini img:hover,
.post_img img:hover {
  transform: scale(1.1);
  transition-duration: 0.25s;
}

.article_li_title::before {
  content         : '';
  background      : url("../img/fs_logo.png");
  width           : 1.1em;
  height          : 1.1em;
  background-size : 1.1em 1.1em;
  display         : inline-block;
  vertical-align  : text-bottom;
}

/* フッター */
footer {
  grid-row: 3 / 4;
  margin: 50px 0 0 0;
  text-align: center;
}

/* ================================== */
/* スマホ用CSS                         */
/* ================================== */
@media screen and (max-width: 768px) {
  header .title {
    margin: 32px 16px 16px 16px;
    font-size: 1.1em;
  }

  header .sub_title {
    margin: 8px 16px 16px 24px;
    font-size: 0.72rem;
  }

  body {
    font-size: 0.80rem;
  }

  .post_btn {
    transform: scale(0.9, 0.9);
  }

  .article_list
  .post_ul {
    width: 100%;
  }

  .post_content{
    padding: 16px 0 0 0;
    width: 88%;
    line-height: 1.8em;
  }

  .post_li {
    margin: auto;
  }

  .article_li_title {
    font-size: 1.5em;
  }

  .article_li {
    width: 280px;
    height: 650px;
    line-height: 3.5em;
  }
  
}
